# folder

proteomeData/
genomeData/
timeTest/
**/test/
**/logs/
**/hmminfo/
ZnBRSequences/
**/old.dir/
**/emappertmp*

# extention

*.parquet
*.o*
*.h3m
*.msa
*.fna
*.fasttree
*.h3i
*.h3p
*.faa
*.tsv
*.gz
*.tblout
*.pyc
*.domtblout
*.txt
*.hmm
*.h3f
*.fa
*.h3f
*.h3i
*.h3m
*.h3p
*.idmap
*.bionj
*.contree
*.gz
*.iqtree
*.log
*.mldist
*.nex
*.phy
*.runtrees
*.treefile
*.nwk*
*.trees
*.efa
*.annotations
*.hits
*.seed_orthologs
test.ipynb