# folder

proteomeData/
genomeData/
timeTest/
**/logs/
**/hmminfo/

# extention

*.o*
*.h3m
*.msa
*.config
*.fna
*.fasttree
*.json
*.h3i
*.h3p
*.faa
*.tsv
*.gz
*.tblout
*.pyc
*.domtblout
*.txt
*.hmm
*.h3f
*.fa
*.h3f
*.h3i
*.h3m
*.h3p
*.idmap